p {
    color: #fff;
}

h2 {
    color: black;
}

.backgroundAbout {
    /*background: url(../../img/mountains.jpg) no-repeat center center fixed;*/
    background-size: cover;
}

.information {
    padding: 20px;
    background-color: #ffffffa4;
    border-radius: 10px;
    width: 41vh;

}

.education {
    padding: 20px;
    background-color: #ffffffa4;
    border-radius: 10px;
}

.information i,
.education i {
    color: black !important;
}


@media (max-width: 418px) {
    .information {
        width: 100%;
    }

    .about {
        font-size: 12px;
    }

}

@media (min-width: 692px) and (max-width: 864px) {
    .information {
        width: 300px;
    }

}