
p{
	color:#fff;
}

h2{
	color:black;
}
.backgroundAbout{
    /*background: url(../../img/mountains.jpg) no-repeat center center fixed;*/
    background-size: cover;
}

.information {
    padding: 20px;
    background-color: #ffffffa4;
    border-radius: 10px;
}

.education {
    padding: 20px;
    background-color: #ffffffa4;
    border-radius: 10px;
}

.fa, .fas{
	color:black;
}


@media (max-width: 320px) {
.about{
    font-size:12px;
}

  }