h2,
p {
    color: black;
}

.backgroundAbout {
    /*background: url(../../img/mountains.jpg) no-repeat center center fixed;*/
    background-size: cover;
    background-color: rgba(0, 0, 0, .1) !important;
}

.information {
    padding: 20px;
    background-color: #ffffffa4;
    border-radius: 10px;
}

.education {
    padding: 20px;
    background-color: #ffffffa4;
    border-radius: 10px;
}

.bg-dark {
    background-color: none;
}

.information i,
.education i {
    color: black !important;
}

.information a {
    color: black;
}

.information a:hover {
    color: #1D81F5;
}


@media (max-width: 418px) {
    .information {
        width: 100%;
    }

    .about {
        font-size: 12px;
    }

}

@media (min-width: 692px) and (max-width: 864px) {
    .information {
        width: 300px;
    }

}